@media screen and (max-width: 768px) {
  nav {
    width: 100%;
  }
  nav h2 {
    font-size: 22px;
  }
  nav ul {
    font-size: 16px;
    gap: 0.7rem;
  }
  .section-banner {
    width: 100%;
    padding: 15px 30px;
    flex-direction: column-reverse; /* Reverse the order of flex items */
  }

  .banner-text {
    width: 100%;
  }
  .banner-con {
    width: 100%;
  }
  .section-banner h1 {
    font-size: 1.5rem;
  }
  .section-banner p {
    font-size: 14px;
  }
  .btn {
    display: inline-block;
    background: var(--primary-color);
    color: #fff;
    padding: 0.4rem 0.6rem;
    border: none;
    cursor: pointer;
    font-size: 15px;
    border-radius: 30px;
  }

  .section-b-inner h3 {
    font-size: 1.5rem;
  }
  
  .section-b-inner h2 {
    font-size: 3rem;
    margin-top: 1rem;
  }
  
  .section-b-inner p {
    margin-top: 14px;
    font-size: 1rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .section-banner h1 {
    font-size: 2.5rem;
  }
  .section-banner p {
    font-size: 16px;
  }
}
@media screen and (min-width: 1025px) {
}
